<box-loader loading="false" cover="1" class="cover" delay="1000"></box-loader>

<div class="heading" ng-init="MerchantCtrl.getData()">
    <h1>Add Merchant Login Credentials </h1>
</div>

<div style="clear:both;"></div>
<form novalidate ng-submit="MerchantCtrl.addRegisterMerchant(merchant)">
    <div class="box-content">
        <div class="row">
            <div class="columns medium-12">
                <fieldset class="fieldset">
                    <!-- <legend>{{ "seller.details" | translate }}</legend> -->
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>Choose Merchant </label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.merchantId.errors">
                            <selectize config="MerchantCtrl.merchantConfig"
                                       options="MerchantCtrl.merchants"
                                       ng-model="merchant.merchantId" ng-change="MerchantCtrl.getMerchantDateils(merchant.merchantId)"></selectize>
                           
                        </div>
                    </div>
                    
                 <div ng-if=showMerchantDetail >
                    <div class="row" >
                        <div class="small-3 medium-2 columns">
                            <label>Merchant Name</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.name.errors">
                            <input type="text" ng-model="merchant.name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-2 small-3 columns">
                            <label>Active</label>
                        </div>
                        <div class="medium-10 small-9 columns" form-validation="validate.active.errors"
                             ng-init="newSeller.active=0">
                            <selectize config="MerchantCtrl.activeConfig" options="MerchantCtrl.active"
                                       ng-model="merchant.active"></selectize>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "seller.email" | translate }} <span class="required">*</span></label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.email.errors">
                            <input type="email" ng-model="merchant.email" required>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>Contact No</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.contactno.errors">
                            <input type="text" ng-model="merchant.contactno">
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 medium-2 columns">
                            <label>{{ "seller.password" | translate }}</label>
                        </div>
                        <div class="small-9 medium-10 columns" form-validation="validate.plainPassword.errors">
                            <input type="text" ng-model="merchant.plainPassword" required>
                            <span class="prompt">{{ "seller.pass_prompt" | translate }} </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns small-12">
                            <button class="button button-septenary-colorized  float-left m-r-1" type="submit">
                                {{ "global.save" | translate }}
                            </button>
                           
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                </fieldset>
            </div>
        </div>
    </div>
    
</form>