
@import "../node_modules/foundation-sites/scss/foundation";

@include foundation-everything;

@import "../node_modules/motion-ui/src/motion-ui.scss";

@import "vars";
@import "mixins";
@import "login";
@import "buttons";
@import "box";
@import "cards";
@import "table";
@import "labels";
@import "navs";
@import "modal";
@import "lists";
@import "sidebars";
@import "content";
@import "helper";
@import "select2";
@import "loader";
@import "icon_set_1";
@import "icon_set_2";
@import "static-pages";
@import "media";
@import "rfm";

body {
  font-family: $default-font;
  background: $lightgray;
  color: $black;
  font-size:100%;
  font-weight: 600;
}

h1, h2, h3, h4, img {
  font-family: $default-font;
  font-weight:bold;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $primary;
  }
}
.radio-align {
  label {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
}
.transspan {
  span {
    font-size: 13px;
    font-weight: 500;
  }
}

.oddModules {
	float: left;
}
.evenModules {
	float: right;
}
/* For Firefox */
/* Webkit browsers like Safari and Chrome */
input[type='number'] {
	-moz-appearance: textfield;
}
input[type=number] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/**********Custom CSS Changes*******
************************************/
/***Mobie***/
@media screen and (max-width:767px) {
  .sidebar-left {
      width: 65%;
      transform: translateX(-60rem);
      transition: all 1s;
  }
  .left-nav {
      transform: translateX(0);
  }
  section.content {
      margin-left: auto;
  }
  #mob-menu {
      cursor: pointer;
      padding: 14px 15px;
      display: inline-block !important;
  }
}
@media only screen and (min-width:320px) and (max-width:568px) and (orientation : landscape) {
  .sidebar-left {
      #openLoyaltyLogo {
          width: 60%;
      }
  }
}
@media only screen and (min-width:375px) and (max-width:667px) and (orientation : landscape) {
  .sidebar-left {
      #openLoyaltyLogo {
          width: 60%;
      }
  }
}
@media only screen and (min-width:414px) and (max-width:736px) and (orientation : landscape) {
  .sidebar-left {
      #openLoyaltyLogo {
          width: 60%;
      }
  }
}
@media only screen and (min-width:384px) and (max-width:600px) and (orientation : landscape) {
  .sidebar-left {
      #openLoyaltyLogo {
          width: 60%;
      }
  }
}
#mob-menu {
  display: none;
}

//
/****Add Store Model****/
#addstoreaddress {
  width: 100%;
}
.addstore-modal {
  form {
      fieldset.fieldset {
          label {
              padding: 0;
              margin: 0;
          }
      }
  }
}
.model {
  top: 25% !important;
}

/****List Table****/
table.default {
  thead {
      input {
          height: 2.30rem;
          border-radius: 7px;
      }
  }
}

/***Color changes***/
$color_1: #ffffff;
$background_color_1: #3C8DBC;
$background_color_2: #235790;
$background_color_3: #3244AC;
$background_color_4: #3c8bbb;
$background_color_5: #333438;
$background_color_6: #324087;
$background_color_7: #3763ac;

nav {
	.top-bar-right {
		ul.menu {
			li {
				&:hover {
					background-color: $background_color_7;
				}
			}
			li.is-active {
				background-color: $background_color_7;
			}
		}
	}
}


.button-septenary-colorized {
    &:hover {
        background-color: $background_color_6;
    }
    &:focus {
        background-color: $background_color_6;
    }
    &:active {
        background-color: $background_color_6;
    }
}

.sidebar-left {
  #openLoyaltyLogo {
      margin-top: 4px;
      width: 32%;
  }
  .logo {
      background: linear-gradient(to left,rgba(60,141,188,1),#32449f);
      h1 {
          color: $color_1;
          line-height: 50px;
          font-weight: 400;
          font-size: 33px;
          text-shadow: 2px 2px 4px #222;
      }
  }
  background: linear-gradient(to top,#333,#3246ac);
  ul {
      &:not(.submenu) {
          >li {
              >a {
                  &:hover {
                      background: linear-gradient(to left,rgba(60,141,188,1),#3140AB);
                  }
              }
          }
      }
  }
  li[aria-expanded="true"] {
      >a {
          background: #32439B;
      }
  }
}
.top-navigation.admin {
  .top-bar {
      ul {
          li {
              background-color: $background_color_1;
              color: $color_1;
          }
          span {
              background-color: $background_color_1;
              color: $color_1;
          }
          a {
              color: $color_1;
          }
      }
      background-color: $background_color_1;
      .top-bar-right {
          .dropdown.menu {
              li.is-dropdown-submenu-parent.is-active {
                  .arrow-up {
                      border-bottom: 12px solid #3c8dbc;
                  }
              }
          }
      }
  }
}
.is-submenu-item.is-accordion-submenu-item {
  background: linear-gradient(to left,rgba(60,141,188,1),#3140AB);
}
.button-septenary-colorized {
  background-color: $background_color_2;
  &:hover {
      background-color: $background_color_3;
  }
  &:active {
      background-color: $background_color_4;
  }
}
section.footer {
  background-color: $background_color_5;
}

/****Merchant Tabs****/
$background_color_1: transparent;

.val-box {
  border: 1px solid #e4e4e4;
  padding: 6px;
  margin-bottom: 15px;
  box-shadow: inset 0px 0px 3px 1px #e9e9e9;
  border-radius: 4px;
}
.tabs {
  border-right: none;
  border-left: none;
  border-top: none;
}
ul.tabs {
  background-color: $background_color_1;
}
@media screen and (max-width:1023px) {
  .tabs-title {
      width: 100%;
  }
  ul.tabs {
      li.is-active {
          a {
              border: none;
          }
      }
  }
}
/** logo,tab and click event css **/

$color_1: #ffffff;
$color_2: #1779ba;
$color_11: #1779ba;

.addings {
color: $color_11 !important;
font-size: 15px;
    font-weight: normal;
text-decoration: underline;
i{
margin-bottom: 20px;
}
}
.f-w-1 {
    font-weight: 100;
}

.noclick {
        pointer-events: none;
        color: $color_2 !important;
    }
ul.tabs {
    li {
        &:hover {
            a {
                color: $color_2 !important;
            }
        }
    }
}

.login {
	.login-form {
		.logo {
			h1 {
				color: $color_1;
				font-size: 42px;
			}
		}
	}
}


/***Fixed Top Nav and Dashboard Adjust****/
.top-navigation.admin {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 99;
}
#dashpaddingtop {
    margin-top: 55px;
}
.heading {
    color: $black;
}

/*Add Shcema css*/
.giftcd-data{
    padding: 0 15px;
}
.amntbox {
    margin-bottom: 10px;
}
.amntbox-card {
    box-shadow: inset 0px 0px 2px 1px #c7c7c7;
    display: inline-block;
    width: 19%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.amntbox-close {
    float: right;
    padding: 4px;
    cursor: pointer;
}

/*Loader logo color*/
.loader .logo h1 {
    color: #ffffff;
}

.check-position{
    position: relative;
    left: 40%;
}
.fieldset-margin{
    margin-left: auto;
    margin-right: auto;
}

/*Edit store*/

/*field spacing*/
.edit-store {
	fieldset.fieldset {
		label {
            margin: 0;
            [type='text'] {
				margin: 0;
			}
		}
	}
}

/**********Add order css******
*******************************/
/*Selectize box size*/
.admin_add-order {
	.selectize-dropdown-content {
		max-height: 118px;
	}
}

/*=====Merchant Portal=======*/
.top-navigation.pos {
    .top-logo{
        background: linear-gradient(to left, #3c8dbc, #32449f,#3c8dbc);
    }
}
/*responsive*/
@media screen and (max-width:639px) {
.top-navigation.client {
	.top-logo {
		.right-buttons {
			.client-logout-button {
				right: -10px;
				top: -52px;
				background: transparent;
			}
		}
	}
}

.top-navigation.client {
	.top-logo {
		.left-buttons {
			.home-button {
				left: -10px;
				top: 2px;
				background: transparent;
			}
		}
	}
}

}

/*=====Customer Portal=======*/
/*bg*/
.customer_panel_card-show {
	background: url(/img/customer-bg.jpg);
	background-size: contain;
}
.customer_panel_dashboard {
	background: url(/img/customer-bg.jpg);
}
.customer_panel_campaign-list {
	background: url(/img/customer-bg.jpg);
	background-size: contain;
}
.customer_panel_transfers-list {
	background: url(/img/customer-bg.jpg);
}
.customer_panel_transactions-list {
	background: url(/img/customer-bg.jpg);
	background-size: contain;
}
.customer_panel_profile-show {
	background: url(/img/customer-bg.jpg);
}

/*Login Responsive*/
@media screen and (max-width:695px) {
    section.login.admin {
        .form-box{
            display: block !important;
        }
    }
    section.login.admin {
        .registration-box{
            width: 327px;
            display: block !important;
        }
    }
    section.login.admin {
        .registration-box {
            .registration{
                position: static;
            }
        }
    }

    /*Menu bar*/
    .client-topbar{
        .menu {
            display: none;
        }
    }
    .top-navigation.client {
        .top-logo{
            min-height: 65px;
        }
    }
    .top-navigation.client {
        .top-logo {
            .logo{
                text-align: center;
            }
        }
    }
    .client-menu-button {
        .fa-bars {
            font-size: 25px;
            padding: 1px;
        }
    }

    .client-menu-button {
        position: absolute;
        left: 0;
        top: 0;
        border: 0;
        color: #fff;
        transition: color 0.5s;
        background: transparent;
        padding: 3px 12px;
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.3;
        text-transform: uppercase;
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }

    .top-navigation.client {
        .top-logo {
            .right-buttons {
                .client-logout-button{
                    top: -52px !important;
                    background: transparent;
                }
            }
        }
    }
    .top-navigation.client {
        .top-bar {
            ul.menu {
                li{
                    display: block;
                    text-align: left;
                }
            }
        }
    }
    /*fixed nav and section adjust*/
    .top-navigation.client {
        position: fixed;
        z-index: 1;
        width: 100%;
    }
    .client-section {
        top: 65px;
    }
    .loyal-info-equal{
        padding-top: 40px;
    }
}/*End menu media query*/


/*menu bar*/
.top-navigation.client {
    .top-logo{
        background: linear-gradient(to left, #32449f, #3c8dbc, #32449f);
    }
}
.top-navigation.client {
    .top-logo {
        .right-buttons {
            .client-logout-button{
                top: 7px;
                background: transparent;
            }
        }
    }
}
.top-navigation.client {
    .top-logo {
        min-height: 60px;
    }
}
.qf-menu-padding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.top-navigation.client {
    .top-bar {
        ul.menu {
            li {
                a{
                    &:focus{
                        color:$white;
                    }
                }
            }
        }
    }
}

/*create account logo*/
section.login {
    .client-logo {
        h1{
            color: $white;
            font-size: 42px;
        }
    }
}


@media only screen and (min-width:320px) and (max-width:568px) and (orientation : landscape) {
    .client-topbar{
        .menu {
            height: 200px;
            overflow:auto;
        }
    }
    .top-navigation.client {
        .top-logo {
            .right-buttons {
                .client-logout-button{
                    top: -52px !important;
                    background: transparent;
                }
            }
        }
    }
  }
@media only screen and (min-width:375px) and (max-width:667px) and (orientation : landscape) {
    .client-topbar{
        .menu {
            height: 200px;
            overflow:auto;
        }
    }
    .left-buttons {
        display: block !important;
    }
    .top-navigation.client {
        .top-logo {
            .right-buttons {
                .client-logout-button{
                    top: 6px !important;
                    background: transparent;
                }
            }
        }
    }

}
@media only screen and (min-width:384px) and (max-width:600px) and (orientation : landscape) {
    .top-navigation.client {
        .top-logo {
            .right-buttons {
                .client-logout-button{
                    top: -52px !important;
                    background: transparent;
                }
            }
        }
    }
  }
@media only screen and (min-width:414px) and (max-width:736px) and (orientation : landscape) {
    .left-buttons {
        display: none;
    }
}

/*card management*/
.gift-card-box {
    background: url(/img/gift-card-bg.jpg);
    margin: 8px -5px !important;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 2px 3px 1px 1px #333;
}
.loyalty-card-box {
    background:url(/img/loyalty-card-bg.jpg);
    margin: 8px -5px !important;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 2px 3px 1px 1px #333;
}
.card-left {
    padding: 10px;
    color: #fff;
    min-height: 120px;
}
.card-right {
    padding: 10px;
    background-size: cover;
    min-height: 122px;
}
.card-icon {
    font-size: 50px;
}
.card-amnt {
    font-weight: 700;
    font-size: 18px;
}
.card-merchant {
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}
.card-no {
    color: #fff;
}
.loyal-info-equal{
    padding-top: 30px;
}

//new added for error validation
.has-error{
    border: 1px solid #ff0000
    }
 .customerrmsg{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    }



@include margin(0);
@include padding(0);
